/* ====================== General */

body {
  background-color: #e6ecf0;
  width: 100%;
  height: 100%;
  position: absolute;
}

body.error-404 {
  background-color: #1da1f2;
}

img{
  animation: pulse 3s linear infinite;
  animation-direction: alternate;
}

@keyframes pulse {

  0%{
    box-shadow: 0px 0px 4px 5px white;
  }

  100%{
    box-shadow: 0px 0px 4px 0px white;
  }

}

.form-control {
  margin-bottom: 20px;
  background-color: rgba(27,27,27,.2);
}

.form-control:focus,  .form-control:autofill, .form-control:-webkit-autofill{
  background-color: rgba(27, 27, 27, 0.39);
}

.btn {
  border-radius: 50px;
  background-color: #58daef63;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #88f7cbb6;
  border: none;
}

.btn:disabled {
  background-color: #88f7cbb6;
  border: none;
}

.btn:focus {
  cursor: pointer;
  background-color: #88f7cbb6;
  border: none;
}

.container{
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  right: 0px;
  text-align: center;
  left: 0px;
  padding-top: 10vh;
}

.area{
  background: #007678;  
  background: -webkit-linear-gradient(to left, #48e5e7, #acf9db);  
  width: 100%;
  height:100vh;
  position: fixed;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #39dcaebd;
  animation: animate 15s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 100%;
  }

}


/* ===================== User profile */

#profile-image,
#profile-avatar {
  border-radius: 100%;
  display: block;
  margin-left: -15px;
}

#profile-image {
  margin: 0 auto 15px;
  width: 100%;
}

#profile-avatar {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  margin-top: -120px;
  z-index: 1;
  position: relative;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
}

.timeline-image {
  border-radius: 48px;
  height: 48px;
  width: 48px;
  margin-top: 2px;
}

.message-area,
.timeline-image {
  display: inline-block;
}

.message-area {
  margin-left: 10px;
}

#warbler-hero {
  height: 360px;
  margin-top: -16px;
  opacity: 0.7;
  background-size: cover;
  background-position: top center;
}

.full-width {
  width: 100vw;
  margin: 0 -50vw;
  position: relative;
  left: 50%;
  right: 50%;
  height: 30vw;
}

.row.full-width {
  background-color: #fff;
  margin-top: -80px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  height: 60px;
  align-items: center;
}

.user-stats > .ml-auto {
  display: flex;
  align-items: center;
}

.user-stats > .ml-auto .btn {
  min-width: 105px;
  padding: 6px 16px;
}

.stat {
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  padding: 14px 15px 7px;
  line-height: 1;
}

.stat > .small {
  color: #657786;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.stat > .small + h4 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

#messages {
  position: relative;
}

#messages .message-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#messages .list-group-item a:not(.message-link) {
  position: relative;
  z-index: 2;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

#sidebar-username {
  margin-top: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 28px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .full-width .user-stats .stat {
    display: none;
  }
}

.user-location {
  color: #657786;
}

/* ==================== User cards on follower/following pages */

.fade{
  opacity: 1;
}

.quest {
  width: 33%;
  height: 33%;
  border-radius: 5px;
  border: none;
  position: relative;
  background: #91edc27b;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.user-area {
  margin-top: 5vw;
  background-color: #91edc238;
  border-radius: 10px;
  padding: 20px;
}

.quests{
  background-color: #91edc238;
  text-align: center;
  margin-top: 5vw;
  border-radius: 10px;
  padding: 20px;
}

.quest-area{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.quest-img{
  width: 100%;
  object-fit: cover;
  height: 40vh;
  border-radius: 30px;
}

.image-points{
  position: relative;
}

.points-user {
  position: absolute;
  top: -0.5vw;
  right: 3vw;
  font-size: 2vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
}

.points{
  position: absolute;
  top: -1vw;
  right: -1vw;
  font-size: 2vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
}
            
.star-eight {
  background: #39d3dcbd;
  width: 3vw;
  height: 3vw;
  text-align: center;
  transform: rotate(20deg);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3vw;
    width: 3vw;
    z-index: -1;
    background: #39d3dcbd;
    transform: rotate(135deg);
  }
}

.user-card > div {
  position: absolute;
  background: white;
}

.user-card form {
  margin-top: 5px;
  margin-right: 5px;
}

.user-card form .btn {
  min-width: 89px;
  padding: 4px 12px;
  font-size: 12px;
}

.card-hero {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-image {
  border: 3px solid #fff;
  border-radius: 70px;
  height: 10vw;
  width: 10vw;
  position: relative;
  z-index: -2;
}

a {
  text-decoration: none;
  color: black;
}

.card-link {
  display: inline-block;
  margin-left: 10px;
}

.card-link > p {
  position: absolute;
}

.user-cards {
  margin-bottom: 20px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-wrapper {
  width: 100%;
  padding-bottom: 36%;
  position: relative;
  overflow: hidden;
}

.card-contents {
  display: flex;
  justify-content: space-between;
}

p.card-bio {
  margin: 2em 10px 0;
}

/* ============================ Signed out home */

.home-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0 8px #66757f;
}

.home-hero .btn {
  text-shadow: none;
  position: relative;
  z-index: 1;
  width: 150px;
}

.home-hero h1 {
  margin-bottom: 4rem;
}

.home-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ============================== Signed in Home */

#home-aside > .user-card {
  margin-top: 0;
  overflow: hidden;
}

#home-aside > .user-card .card-link {
  display: flex;
}

#home-aside > .user-card .card-link > p {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

#home-aside > .user-card .stat {
  padding: 14px 0 7px;
}

#home-aside > .user-card .user-stats {
  display: flex;
  justify-content: space-around;
}

#home-aside > .user-card > div {
  width: 100%;
}

#home-aside .card-link > p {
  position: relative;
}

#home-aside .stat h4 {
  text-align: left;
}

/* ========================== Signup/Login */

#user_form input.form-control {
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
}

#user_form{
  padding-top: 10vh;
}

/* =========================== Edit Page */

.edit-btn-area {
  display: flex;
  justify-content: space-between;
}

.edit-btn-area > .btn {
  width: 48%;
}

/* =========================== Message Show page */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #62676c;
}

#messages.no-hover .message-area {
  width: 100%;
}

#messages.no-hover .message-heading {
  display: flex;
  justify-content: space-between;
  height: 47px;
  margin-top: 3px;
}

#messages.no-hover .message-heading .btn {
  min-width: 105px;
}

#messages-form {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}

.single-message {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

/* ================================ 404 page */

.message-404 {
  color: white;
  margin-top: 2em;
  text-align: center;
}

.message-404 a {
  color: white;
}

.message-404 > h4.display-4 {
  font-size: 2.5em;
}

.message-404 .form-inline input {
  flex: 1;
}
